:root {
    --primario: #2C2C47;
    --primarioOscuro: #1B1D35;
    --primarioClaro: #605c76;
    --secundario: #dbac45;
    --secundarioClaro: rgb(245, 195, 88);
    --secundarioOscuro: #B8711B;
    --blanco: rgb(230, 227, 227);
    --negro: #000;
    --grisClaro: #b4afaf;
    --verde: #679863;
    --verdeOscuro: #4c7a47;
    --rojo: #ce2b2b;
    --fuentePrincipal: 'Inter', sans-serif;
    --degradado: linear-gradient(165deg, var(--secundarioOscuro), var(--secundarioClaro));
}

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

/* GLOBALES */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    min-height: 100%;
    font-family: var(--fuentePrincipal);
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: left;
    color: var(--secundarioOscuro);
    /* font-family: var(--fuentePrincipal); */
    margin:  0 auto;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/* BASICOS  */
.descripcion_pagina {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-weight: 700;

    /* background-clip: text; */
    font-size: 2rem;
}
.tagline {
    font-weight: 900;
    color: var(--grisClaro);
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
}

.border_login {
	border:none;
	margin-bottom: 5px; 
	border-top:10px solid var(--secundarioOscuro);
	background: none;
	color:none;
    border-radius: 2px;
}

/* SESION  */
.infoadmin {
    font-weight: 900;
    text-align: center;
    font-size: 7rem;
    margin-top: 4rem;
}
@media (min-width: 768px){
    .infoadmin {
        font-size: 9rem;
        margin-top: 6rem;
    }
    .tagline {
        font-size: 2.5rem;
    }
}
.sesion__iniciar {

}

.formulario {
    margin-top: .3rem;
    /* border-top: 4px solid var(--secundarioOscuro); */
    background-color: var(--primarioOscuro);
    padding: 1rem;
    border-radius: 2px;
}
@media (min-width: 768px){
    .formulario{
        padding: 2rem;
    }
}
.campo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.campo_crear {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.campo__label {
    flex: 0 0 13rem;
    font-weight: bold;
    color: var(--grisClaro);
    font-size: 2rem;
}
.campo__input {
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px;
}
.acciones {
    margin-top: 3rem;
}
@media (min-width: 768px){
    .acciones {
        display: flex;
        justify-content: space-between;
    }
}
.acciones__enlace {
    
    /* background-clip: text; */
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    transition: color .3s ease;
}

.contenido__nombre_pagina,
.sidebar__infoadmin,
.descripcion_pagina,
.infoadmin,
.acciones__enlace {
    -webkit-background-clip: text;
    background-image: var(--degradado);
    color: rgb(0,0,0,0);
}

.acciones__enlace:hover{
    /* background-color: var(--secundario); */
    color: var(--secundario);
}
.acciones__enlace:last-of-type{
    margin-bottom: 0;
}
.login {

}
.boton {
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background-color: var(--secundarioOscuro);
    color: var(--blanco);
    font-weight: 700;
    padding: 1.7rem 4rem;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
    width: 100%;
}
@media (min-width: 768px){
    .boton{
        width:auto;
        margin: 0 0 0 71.8%;
    }
}
.boton:hover {
    background-color: var(--secundario);
    color: var(--primario);
}
.error {
    color: var(--secundario);
    padding: .5rem 2rem 0rem 2rem;
    margin-bottom: .2rem;
}

/* MENSAJE */
.mensaje {
    text-align: center;
}

/* DASHBOAR GERENCIAL */
.dashboard {

}
@media (min-width: 768px){
    .dashboard {
        display: flex;
        height: 100vh;
    }
}
.sidebar {
    background-color: var(--primarioOscuro);
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}
.sidebar__infoadmin {
    font-weight: 900;
    text-align: center;
    font-size: 3.5rem;
    margin: 0rem auto;
}
.sidebar__nav {
    margin-top: 1rem;
}
.sidebar__nav--enlace {
    color: var(--blanco);
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .4rem;
    text-align: center;
    border-radius: .5rem;
}
.sidebar__nav--enlace:hover{
    background-image: var(--degradado); 
}
@media (min-width: 768px){
    .sidebar {
        padding: 2rem;
    }
    .sidebar__infoadmin {
        font-size: 5rem;
    }
    .sidebar__nav {
        margin-top: 7rem;
    }
    .sidebar__nav--enlace {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        padding: 1rem;
        text-align: left;
    }
}
.principal {
    flex: 1;
}
@media (min-width: 768px){
    .principal {        
        overflow: scroll;
    }
}
.barra {
    background-color: var(--primarioClaro);
    padding: 1.5rem 2rem;
    box-shadow: 1px 12px 9px -13px var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.barra__texto {
    margin: 0 auto 1rem auto;
    
}   
.barra__texto--username {
    font-size: 2rem;
    font-weight: 900;
    color: var(--secundarioClaro);
}   
.barra__boton {
    text-decoration: none;
    border: none;
    border-radius: 6px;
    background-color: var(--primarioOscuro);
    color: var(--secundario);
    font-weight: 700;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
    width: 100%;
    text-align: center;
}

.barra__boton:hover {
    background-color: var(--secundarioOscuro);
    color: var(--blanco);
}
@media (min-width: 768px){
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
    .barra__texto {
        margin: 0;
    }
    .barra__boton {
        width: 21rem;
    }
}


/* CONTENIDO DE LAS PAGINAS */
.contenido {

}
.contenido__nombre_pagina{
    font-size: 2.7rem;
    text-align: center;
    margin: 2rem auto;
    text-transform: uppercase;
    font-weight: 900;
    width: 30rem;
}

/* CONTENIDO CUENTAS ADMIN */
.cuenta__listado {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.cuenta {
    border-bottom: 2px solid var(--primarioClaro);
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cuenta:last-of-type {
    border-bottom: none;
}

.cuenta__texto {
    font-size: 1.8rem;
}
.cuenta__opciones {
    display: flex;
    gap: 1.5rem;
    /* justify-content: space-between; */
}
.cuenta__opciones--boton {
    border: none;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .8rem;
    width: 9rem;
}
.cuenta__opciones--boton:hover{
    cursor: pointer;
}

.cuenta__opciones--habilitado{
    background-color: var(--verdeOscuro);
    color: var(--blanco);
}
.cuenta__opciones--pendiente{
    background-color: var(--secundarioOscuro);
    color: var(--blanco);    
}
.cuenta__opciones--eliminar{
    background-color: var(--rojo);
    color: var(--blanco);
}
.no_hay_elemntos {
    text-align: center;
}